.calc-container {
	height: 100%;
	color: #FFFFFF;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
	background: linear-gradient(to right, rgba(58,65,58,1) 0%, rgba(47,45,47,1) 100%);
}

.hidden {
	display: none;
}